package {
    name "postgres" 
    author "Brendan Hansen" 
    url "git://onyxlang.io/repo/postgres" 
    description "A PostgresQL client for Onyx using libpq." 
    version "0.0.24" 
}

config {
    dependency_source_path "./lib" 
    dependency_binary_path "./bin" 
}

native {
    library "onyx_postgres" 
    build "onyx run --generate-foreign-info build" 
}

